body {
    background-image: url(Images/wallpaper.png) ;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll; 
}

h1 {
    color: blanchedalmond;
    text-align: center;
    text-shadow: 3px 3px 3px black;
    text-decoration: underline;
    justify-self: center;
    font-size: 100px;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    padding: 50px;
}
p {
    color:blanchedalmond;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    font-size: 25px;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    justify-self: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}